
        * {
            color: white;
        }

        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            margin: 0px;
            padding: 0px;
        }

        .coverpage {
            background-image: url("bg.jpg");
            height: auto;
            background-repeat: no-repeat;
            filter: grayscale(0%);
            margin: 0;
        }

        .nav {
            display: flex;
            margin: auto;
            max-width: 60vw;
        }

        .placeholders {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .english {
            display: inline-block;
            padding: 4px;
            font-size: 15px;
            border: 2px solid white;
            /* padding-bottom: 2px; */
            color: white;
            margin: 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .Sign-in {
            display: inline-block;
            margin: 10px;
            font-size: 15px;
            padding: 4px;
            /* padding-bottom: 2px; */
            border: 2px solid white;
            color: white;
            background-color: red;
            border-radius: 3px;
            cursor: pointer;
        }

        h1 {
            color: white;
            font-weight: bolder;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 47px;
            margin-top: 90px;
        }

        .heading {
            text-align: center;
            /* margin-right: 50px; */
            display: flex;
            flex-direction: column;
            color: white;
            height: 30%;
        }

        .join {
            font-size: 30px;
        }

        .ready {
            font-size: 25px;
            margin-top: 20px;
        }

        .hero {
            display: flex;
            margin-top: 150px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        input[type="text"] {
            background-color: black;
            color: grey;
            height: 30px;
            width: 230px;
        }

        button {
            background-color: red;
            height: 35px;
            width: 200px;
            border-radius: 2px;
            font-size: 20px;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        .endline {
            background-color: gray;
            height: 10px;
            margin: 0px;
        }

        .second {
            display: flex;
            font-size: larger;
            background-color: black;
            margin: 0px;
            padding: 0px;
            height: auto;
        }

        .second h1 {
            margin: 0px;
            margin-left: 10%;
            padding-top: 40px;
            font-weight: 800px;
            font-size: 60px;
        }

        .psec {
            margin-left: 10%;
            max-width: 60%;
            font-size: 30px;
        }

        .tv {
            position: relative;
        }

        .tv img {
            position: relative;
            height: 400px;
            width:100%;
            z-index: 20;
        }

        .tv video {
            z-index: 10;
            position: absolute;
            margin: 0px;
            width: 80%;
            height: 90%;
            right: 30px;
        }

        .third {
            background-color: black;
            height: auto;
            color: white;
            margin: 0px;
            display:flex;
        }

        .third h1 {
            margin: 0px;
            margin-left: 40%;
            padding-top: 7%;
            font-weight: 800px;
            font-size: 50px;
            max-width: 50%;

        }

        .pthird {
            margin: 0px;
            margin-left: 40%;
            font-size: 30px;
            max-width: 50%;
        }

        .girl img{
            height: 400px;
            margin-left: 20%;
            margin-right: 0%;
        }

        .fourth{
            background-color: black;
            display: flex;
            gap: 20%;
            height: auto;
            position: relative;
        }

        .heading4{
            margin-left: 10%;
        }

        .pfourth{
            font-size: 30px;
        }

        .secTV img{
            position: relative;
            z-index: 10;
            height:400px;
        }

        .secTV video{
            position: absolute;
            z-index: 5;
            margin: 0px;
            right:78px;
            height:68%;
            width: 30%;
            top: 13%;
        }

        .fifth{
            background-color: black;
            display: flex;
            gap: 20%;
            height: auto;
            position: relative;
            margin: 0px;
        }

        .kids img{
            height: 400px;
            margin-left: 20%;
        }
        
        .heading5 h1{
           max-width: 70%;
        }

        .pfifth{
            font-size: 30px;
            max-width: 70%;
        }

        .faq{
            background-color: black;
            height:600px;
            margin: 0px;
            justify-items: center;
        }

        .faq h2{
             font-size: 40px;
             justify-self: center;
             margin:0px;
        }

        .faqbox{
            width: 60vw;
            background-color: #2d2d2d;
            display: flex;
            height: 80px;
            align-items: center;
            font-size: 30px;
            padding-left:20px;
            margin:30px auto 20px auto;
            justify-content: space-between;
            cursor:pointer;
        }
        footer{
            background-color: black;
            height:auto;
        }
        
        .line{
            height: 40px;
            padding: 80px 0  0 180px ;
            font-size: larger;
        }

        .questions{
            display: flex;
            margin: 0px;
        }

        .set{
            display:flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 15%;
            font-size: large;
            margin-top: 0px;
        }
        

   
    @media (max-width: 768px) {
        .second, .third,.fourth,.fifth{
            flex-direction: column;
            text-align: center;
        }
        
    }